body{
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: 1fr 3fr 3fr;
    grid-template-rows: 2fr 5fr 1fr;
    grid-template-areas: "header header header"
                        "side main main"
                        "footer footer footer";
}
header{
    grid-area: header;
}
nav{
    grid-area: side;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}
.card{
    background-color: cadetblue;
    color: white;
}
.parent{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 5px;
}